<div class="flex flex-col w-screen min-h-screen z-30 xl:w-100 bg-white transition duration-300 ease-in dark:bg-dark-blue-800 p-6 justify-center xl:shadow-md">

  <app-theme-switch class="hidden xl:flex"></app-theme-switch>

  <img class="w-32 h-32 mx-auto mt-16 md:mt-0 md:w-auto md:h-auto lg:w-80 lg:h-80 xl:w-48 xl:h-48" src="assets/img-svg/profile-photo.webp">

  <h1 class="m-3 text-center text-lg font-quick font-normal text-primary md:text-2xl lg:text-3xl xl:text-lg">Juan Alejandro Demetrio Calderín</h1>

  <p class="px-6 text-sm md:text-base font-quick font-light mt-3 transition duration-300 ease-in dark:text-white lg:text-2xl md:px-32 xl:text-sm xl:px-6">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cupiditate dicta dolor dolore eveniet expedita,
    facilis laudantium maxime nam odio, optio placeat, quasi repellat reprehenderit tempora ullam veniam vero.</p>

  <app-nav-skills class="mt-4"></app-nav-skills>

  <app-footer class="mt-4 hidden xl:flex"></app-footer>

</div>

