<h3 class="font-quick text-primary text-2xl ml-5 lg:text-4xl xl:text-3xl mt-20 md:ml-32 xl:p-2 xl:ml-10 xl:mt-5">Proyectos</h3>

<div class="flex flex-col md:flex-wrap md:flex-row md:justify-between md:mx-32 justify-items-start mx-5 items-center xl:mb-2 xl:justify-start xl:items-start xl:ml-10 xl:mx-0 xl:px-2">
  <div class="flex flex-row bg-white shadow rounded-lg transition duration-300 ease-in dark:bg-dark-blue-800 p-3 mt-5 w-full md:w-60 lg:w-86 xl:w-96 xl:mr-5">
    <img src="assets/img-svg/fashioonmen-logo.svg" class="m-3 w-24 h-24 lg:w-36 lg:h-36 xl:w-36 xl:h-36">
    <div class="flex flex-col justify-center mx-5">
      <h3 class="text-primary font-quick font-bold text-base lg:text-2xl xl:text-xl">Fashion Men</h3>
      <p class="text-secondary font-quick text-sm lg:text-xl xl:text-base">Kotlin / Android</p>
    </div>

  </div>

  <div class="flex flex-row bg-white shadow rounded-lg transition duration-300 ease-in dark:bg-dark-blue-800 p-3 mt-5 w-full md:w-60 lg:w-86 xl:w-96 xl:mr-5">
    <img src="assets/img-svg/comasy-logo.svg" class="m-3 w-24 h-24 lg:w-36 lg:h-36 xl:w-36 xl:h-36">
    <div class="flex flex-col justify-center mx-5">
      <h3 class="text-primary font-quick font-bold text-base lg:text-2xl xl:text-xl">Comasy</h3>
      <p class="text-secondary font-quick text-sm lg:text-xl xl:text-base">Laravel / VueJS / PHP</p>
    </div>

  </div>

  <div class="flex flex-row bg-white shadow rounded-lg transition duration-300 ease-in dark:bg-dark-blue-800 p-3 mt-5 mb-5 md:mb-0 lg:w-86 w-full md:w-60 xl:w-96">
    <img src="assets/img-svg/blink-logo.svg" class="m-3 w-24 h-24 lg:w-36 lg:h-36 xl:w-36 xl:h-36">
    <div class="flex flex-col justify-center mx-5">
      <h3 class="text-primary font-quick font-bold text-base lg:text-2xl xl:text-xl">Blink</h3>
      <p class="text-secondary font-quick text-sm lg:text-xl xl:text-base">Flutter / Dart</p>
    </div>

  </div>
</div>
