<div class="w-screen h-screen flex flex-col xl:flex-row bg-gray-50 transition duration-300 ease-in dark:bg-dark-blue-900">
  <app-about-me></app-about-me>
  <hr class="xl:hidden border-secondary dark:border-primary">

  <div class="hidden overflow-hidden overflow-y-scroll custom-scroll xl:flex xl:flex-col">
    <app-works class="flex" id="works"></app-works>
    <app-navigation></app-navigation>
    <hr class="border-secondary dark:border-primary">
    <app-designs id="designs"></app-designs>
    <hr class="border-secondary dark:border-primary">
    <app-animations id="animations"></app-animations>
  </div>

  <app-works class="contents xl:hidden"></app-works>
  <hr class="border-secondary dark:border-primary xl:hidden">
  <app-designs class="xl:hidden"></app-designs>
  <hr class="border-secondary dark:border-primary">
  <app-animations class="xl:hidden"></app-animations>

  <hr class="xl:hidden border-secondary dark:border-primary">
  <app-footer class="xl:hidden"></app-footer>

</div>
