<div class="flex flex-col w-screen min-h-screen bg-gray-50 transition duration-300 ease-in dark:bg-dark-blue-900">
  <h3 class="font-quick font-bold text-primary text-2xl ml-5 md:ml-32 lg:text-4xl xl:text-3xl mt-20 xl:p-2 xl:ml-10 xl:mt-5">Diseños</h3>
  <div class="flex flex-col mx-5 md:mx-32 xl:mx-10 xl:p-2">
    <h3 class="font-quick font-normal text-primary text-2xl mt-5 lg:text-4xl xl:text-2xl xl:p-0 xl:ml-0 xl:mt-0">Nicamal App</h3>
    <div class="custom-scroll flex flex-row flex-nowrap overflow-hidden overflow-x-scroll h-96 mx-auto w-full xl:mx-0 xl:w-8/12 2xl:w-3/4 py-5 space-x-2">
      <a class="contents" data-fancybox href="assets/nicamal-img/plash-screen.webp"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/plash-screen.webp"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/home-screen.webp"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/home-screen.webp"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/detalle-animal.webp"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/detalle-animal.webp"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/detalle-asociaciones.webp"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/detalle-asociaciones.webp"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/perfil.webp"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/perfil.webp"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/inicio-usuario.webp"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/inicio-usuario.webp"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/perfil-usuario.webp"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/perfil-usuario.webp"></a>

    </div>

  </div>

  <div class="flex flex-col mx-5 md:mx-32 xl:mx-10 xl:p-2">
    <h3 class="font-quick font-normal text-primary text-2xl mt-5 lg:text-4xl xl:text-2xl xl:p-0 xl:ml-0 xl:mt-0">Zanga online</h3>
    <div class="custom-scroll flex flex-row flex-nowrap overflow-hidden overflow-x-scroll h-64 md:h-96 mx-auto w-full xl:mx-0 xl:w-8/12 2xl:w-3/4 py-5 space-x-2">
      <a class="contents" data-fancybox href="assets/zanga-img/basto_1.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/basto_1.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/basto_2.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/basto_2.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/basto_3.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/basto_3.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Copas_1.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Copas_1.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Copas_2.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Copas_2.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Copas_3.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Copas_3.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Espadilla_1.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Espadilla_1.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Espadilla_2.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Espadilla_2.webp"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Espadilla_3.webp"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Espadilla_3.webp"></a>

    </div>

  </div>

  <div class="flex flex-col mx-5 mb-5 md:mx-32 xl:mx-10 xl:p-2">
    <h3 class="font-quick font-normal text-primary text-2xl mt-5 lg:text-4xl xl:text-2xl xl:p-0 xl:ml-0 xl:mt-0">Blink</h3>
    <div class="custom-scroll flex flex-row flex-nowrap overflow-hidden overflow-x-scroll h-48 md:h-96 mx-auto w-full xl:mx-0 xl:w-8/12 2xl:w-3/4 py-5">
      <a data-fancybox href="assets/blink-img/login.webp" class="contents"><img src="assets/blink-img/login.webp" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/register.webp" class="contents"><img src="assets/blink-img/register.webp" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/main.webp" class="contents"><img src="assets/blink-img/main.webp" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/publish.webp" class="contents"><img src="assets/blink-img/publish.webp" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/publish_1.webp" class="contents"><img src="assets/blink-img/publish_1.webp" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/editer_profile.webp" class="contents"><img src="assets/blink-img/editer_profile.webp" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
    </div>

  </div>
</div>
