<div class="flex flex-col w-screen min-h-screen bg-gray-50 transition duration-300 ease-in dark:bg-dark-blue-900">
  <div class="flex flex-col p-2 mt-5 mx-10">
    <h3 class="font-quick text-primary text-2xl w-72 md:w-5/6 lg:text-4xl xl:text-2xl mx-auto mt-10 xl:p-0 xl:ml-0 xl:mt-0">Zanga online</h3>
    <div class="custom-scroll flex flex-row overflow-hidden overflow-x-scroll h-96 w-full xl:w-3/4 py-5 space-x-2">
      <img src="assets/zanga-img/basto_1.png">
      <img src="assets/zanga-img/basto_2.png">
      <img src="assets/zanga-img/basto_3.png">
      <img src="assets/zanga-img/basto_4.png">
      <img src="assets/zanga-img/basto_5.png">
      <img src="assets/zanga-img/basto_6.png">
      <img src="assets/zanga-img/basto_7.png">
      <img src="assets/zanga-img/Copas_1.png">
      <img src="assets/zanga-img/Copas_2.png">
      <img src="assets/zanga-img/Copas_3.png">
      <img src="assets/zanga-img/Copas_4.png">
      <img src="assets/zanga-img/Copas_5.png">
      <img src="assets/zanga-img/Copas_6.png">
      <img src="assets/zanga-img/Copas_7.png">
      <img src="assets/zanga-img/Espadilla_1.png">
      <img src="assets/zanga-img/Espadilla_2.png">
      <img src="assets/zanga-img/Espadilla_3.png">
      <img src="assets/zanga-img/Espadilla_4.png">
      <img src="assets/zanga-img/Espadilla_5.png">
      <img src="assets/zanga-img/Espadilla_6.png">
      <img src="assets/zanga-img/Espadilla_7.png">
    </div>

  </div>

  <div class="flex flex-col p-2 mt-5 mx-10">
    <h3 class="font-quick text-primary text-2xl w-72 md:w-5/6 lg:text-4xl xl:text-2xl mx-auto mt-10 xl:p-0 xl:ml-0 xl:mt-0">Blink</h3>
    <div class="custom-scroll flex flex-row overflow-hidden overflow-x-scroll h-96 w-full xl:w-3/4 py-5 space-x-2">
      <img src="assets/blink-img/login.png" class="block w-auto h-full">
      <img src="assets/blink-img/register.png" class="block w-auto h-full">
      <img src="assets/blink-img/main.png" class="block w-auto h-full">
      <img src="assets/blink-img/publish.png" class="block w-auto h-full">
      <img src="assets/blink-img/publish_1.png" class="block w-auto h-full">
      <img src="assets/blink-img/editer_profile.png" class="block w-auto h-full">
    </div>

  </div>
</div>
