<div class="flex flex-col w-screen min-h-screen bg-gray-50 transition duration-300 ease-in dark:bg-dark-blue-900">
  <h3 class="font-quick text-primary text-2xl ml-5 lg:text-4xl xl:text-3xl mt-20 xl:p-2 xl:ml-10 xl:mt-5">Diseños</h3>
  <div class="flex flex-col mx-5 xl:mx-10 xl:p-2">
    <h3 class="font-quick text-primary text-2xl mt-5 lg:text-4xl xl:text-2xl xl:p-0 xl:ml-0 xl:mt-0">Nicamal App</h3>
    <div class="custom-scroll flex flex-row flex-nowrap overflow-hidden overflow-x-scroll h-96 mx-auto w-full md:w-4/5 xl:mx-0 xl:w-8/12 2xl:w-3/4 py-5 space-x-2">
      <a class="contents" data-fancybox href="assets/nicamal-img/plash-screen.png"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/plash-screen.png"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/home-screen.png"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/home-screen.png"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/detalle-animal.png"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/detalle-animal.png"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/detalle-asociaciones.png"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/detalle-asociaciones.png"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/perfil.png"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/perfil.png"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/inicio-usuario.png"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/inicio-usuario.png"></a>
      <a class="contents" data-fancybox href="assets/nicamal-img/perfil-usuario.png"><img class="block w-auto h-full mr-2" src="assets/nicamal-img/perfil-usuario.png"></a>

    </div>

  </div>

  <div class="flex flex-col mx-5 xl:mx-10 xl:p-2">
    <h3 class="font-quick text-primary text-2xl mt-5 lg:text-4xl xl:text-2xl xl:p-0 xl:ml-0 xl:mt-0">Zanga online</h3>
    <div class="custom-scroll flex flex-row flex-nowrap overflow-hidden overflow-x-scroll h-64 md:h-96 mx-auto w-full md:w-4/5 xl:mx-0 xl:w-8/12 2xl:w-3/4 py-5 space-x-2">
      <a class="contents" data-fancybox href="assets/zanga-img/basto_1.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/basto_1.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/basto_2.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/basto_2.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/basto_3.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/basto_3.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Copas_1.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Copas_1.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Copas_2.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Copas_2.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Copas_3.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Copas_3.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Espadilla_1.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Espadilla_1.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Espadilla_2.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Espadilla_2.png"></a>
      <a class="contents" data-fancybox href="assets/zanga-img/Espadilla_3.png"><img class="block w-auto h-56 md:w-full md:h-auto mr-2" src="assets/zanga-img/Espadilla_3.png"></a>

    </div>

  </div>

  <div class="flex flex-col mx-5 mb-5 md:mb-0 xl:mx-10 xl:p-2">
    <h3 class="font-quick text-primary text-2xl mt-5 lg:text-4xl xl:text-2xl xl:p-0 xl:ml-0 xl:mt-0">Blink</h3>
    <div class="custom-scroll flex flex-row flex-nowrap overflow-hidden overflow-x-scroll h-48 md:h-96 mx-auto w-full md:w-4/5 xl:mx-0 xl:w-8/12 2xl:w-3/4 py-5">
      <a data-fancybox href="assets/blink-img/login.png" class="contents"><img src="assets/blink-img/login.png" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/register.png" class="contents"><img src="assets/blink-img/register.png" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/main.png" class="contents"><img src="assets/blink-img/main.png" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/publish.png" class="contents"><img src="assets/blink-img/publish.png" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/publish_1.png" class="contents"><img src="assets/blink-img/publish_1.png" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
      <a data-fancybox href="assets/blink-img/editer_profile.png" class="contents"><img src="assets/blink-img/editer_profile.png" class="block w-96 h-40 md:w-auto md:h-full mr-2"></a>
    </div>

  </div>
</div>
