<div class="flex flex-col w-screen min-h-screen bg-gray-50 transition duration-300 ease-in dark:bg-dark-blue-900">
  <h3 class="font-quick text-primary text-2xl ml-5 md:ml-32 lg:text-4xl xl:text-3xl mt-20 xl:p-2 xl:ml-10 xl:mt-5">Animaciones</h3>

  <div class="flex flex-row flex-wrap space-x-2 ml-5 mt-5 md:mx-32 xl:space-x-3">
    <a data-fancybox href="assets/animations/nicamal.mp4">
      <video src="assets/animations/nicamal.mp4" class="h-20 w-20 md:h-40 md:w-40 lg:h-56 lg:w-56 shadow" poster="assets/animations/nicamal-poster.svg"></video>
    </a>
    <a data-fancybox href="assets/animations/blink.mp4">
      <video src="assets/animations/blink.mp4" class="h-20 w-20 md:h-40 md:w-40 lg:h-56 lg:w-56 shadow" poster="assets/animations/blink-poster.svg"></video>
    </a>
    <a data-fancybox href="assets/animations/pajaro.mp4">
      <video src="assets/animations/pajaro.mp4" class="h-20 w-20 md:h-40 md:w-40 lg:h-56 lg:w-56 shadow" poster="assets/animations/nicamal-poster.svg"></video>
    </a>

  </div>
</div>
