<div class="flex flex-col w-screen min-h-screen bg-gray-50 transition duration-300 ease-in dark:bg-dark-blue-900">
  <h3 class="font-quick text-primary text-2xl w-72 md:w-5/6 lg:text-4xl xl:text-3xl mx-auto mt-10 xl:p-2 xl:ml-10 xl:mt-5">Animaciones</h3>

  <div class="flex flex-col flex-wrap items-center md:flex-row md:items-start justify-start mt-5 md:mx-10 p-2 space-x-3">
    <a data-fancybox href="assets/animations/nicamal.mp4">
      <video src="assets/animations/nicamal.mp4" class="h-96 w-auto" autoplay></video>
    </a>
    <a data-fancybox href="assets/animations/blink.mp4">
      <video src="assets/animations/blink.mp4" class="h-56 w-auto" autoplay></video>
    </a>
    <a data-fancybox href="assets/animations/pajaro.mp4">
      <video src="assets/animations/pajaro.mp4" class="h-56 w-auto" autoplay></video>
    </a>

  </div>
</div>
