<div class="flex flex-row fixed top-0 justify-between items-center w-screen w-full bg-white transition duration-300 ease-in dark:bg-dark-blue-900 shadow md:h-24 md:px-32">

  <app-theme-switch></app-theme-switch>

  <div (click)="showAndHidde()" class="flex items-center my-6 mx-10 w-6 h-6 md:w-10 md:h-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 18">
      <defs>
        <style>.a{fill:#008C89;}</style>
      </defs>
      <g transform="translate(-4.5 -10.125)">
        <path class="a" d="M30.375,12.375H5.625A1.128,1.128,0,0,1,4.5,11.25h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,11.25h0A1.128,1.128,0,0,1,30.375,12.375Z"/>
        <path class="a" d="M30.375,19.125H5.625A1.128,1.128,0,0,1,4.5,18h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,18h0A1.128,1.128,0,0,1,30.375,19.125Z" transform="translate(0 1.125)"/>
        <path class="a" d="M30.375,25.875H5.625A1.128,1.128,0,0,1,4.5,24.75h0a1.128,1.128,0,0,1,1.125-1.125h24.75A1.128,1.128,0,0,1,31.5,24.75h0A1.128,1.128,0,0,1,30.375,25.875Z" transform="translate(0 2.25)"/>
      </g>
    </svg>
  </div>

</div>

<div class="contents">
  <div class="fixed z-10 inset-0 bg-black opacity-50" [ngClass]="(isHidden == true)? hidden : notHidden"></div>
  <div class="h-full fixed w-1/2 z-20 top-0 right-0 bg-white dark:bg-dark-blue-900 flex flex-col p-3 space-y-1 transition opacity-0 duration-300 ease-out" [ngClass]="(isHidden == true)? hiddeAnim : showAnim">
    <div class="w-auto flex justify-end p-3" [ngClass]="(isHidden == true)? hidden : notHidden">
      <svg (click)="showAndHidde()" xmlns="http://www.w3.org/2000/svg" class="w-5 lg:w-10" viewBox="0 0 18.582 18.577">
        <defs>
          <style>.a{fill:#008C89;}</style>
        </defs>
        <path class="a" d="M22.778,20.577l6.637-6.637a1.555,1.555,0,1,0-2.2-2.2l-6.637,6.637-6.637-6.637a1.555,1.555,0,1,0-2.2,2.2l6.637,6.637-6.637,6.637a1.555,1.555,0,0,0,2.2,2.2l6.637-6.637,6.637,6.637a1.555,1.555,0,0,0,2.2-2.2Z" transform="translate(-11.285 -11.289)"/>
      </svg>
    </div>
    <a class="font-quick text-primary p-2 md:text-2xl" (click)="smoothScroll('about-me'); showAndHidde()" [ngClass]="(isHidden == true)? hidden : notHidden">Sobre mí</a>
    <a class="font-quick text-primary p-2 md:text-2xl" (click)="smoothScroll('works'); showAndHidde()" [ngClass]="(isHidden == true)? hidden : notHidden">Proyectos</a>
    <a class="font-quick text-primary p-2 md:text-2xl" (click)="smoothScroll('designs'); showAndHidde()" [ngClass]="(isHidden == true)? hidden : notHidden">Diseños</a>
    <a class="font-quick text-primary p-2 md:text-2xl" (click)="smoothScroll('animations'); showAndHidde()" [ngClass]="(isHidden == true)? hidden : notHidden">Animaciones</a>
  </div>
</div>

