/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Quicksand;
  src: local('Quicksand'), url("assets/fonts/Quicksand-Regular.ttf") format('ttf');
}

.active {
  color: #388bfd!important;
}

.custom-scroll {
  scrollbar-color: #388bfd #BBD8FF;
  scrollbar-width: thin;
}

.custom-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.custom-scroll::-webkit-scrollbar:vertical {
  width: 3px;
}

.custom-scroll::-webkit-scrollbar-button:increment,.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll::-webkit-scrollbar:horizontal {
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #388bfd;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

