/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Quicksand;
  src: local('Quicksand'), url("assets/fonts/Quicksand-Regular.ttf") format('ttf');
}

.active {
  color: #388bfd!important;
}

.contenedor::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
  width:7px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

.contenedor::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
  background-color: #388bfd;
  border-radius: 20px;
}

.contenedor::-webkit-scrollbar-track {
  border-radius: 10px;
}

