/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Quicksand;
  font-weight: 200;
  src: local('Quicksand'), url("assets/fonts/Quicksand-VariableFont_wght.ttf") format('ttf');
  font-display: fallback;
}

* {
  font-family: Quicksand, serif;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

html {
  scroll-behavior: smooth;
}

.active {
  color: #008C89!important;
}

.custom-scroll {
  scrollbar-color: #008C89 #C7FFED;
  scrollbar-width: thin;
}

.custom-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.custom-scroll::-webkit-scrollbar:vertical {
  width: 3px;
}

.custom-scroll::-webkit-scrollbar-button:increment,.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll::-webkit-scrollbar:horizontal {
  height: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #008C89;
  border-radius: 20px;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

